workflow-1c-webhook-trigger.json
{
  "name": "AI Pipeline — Webhook (API/curl)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-task",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ai-task"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "id": "call-core-logic",
      "name": "Run Core Logic",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"{{ $json.status }}\",\n  \"issue_url\": \"{{ $json.issue_url }}\",\n  \"issue_number\": {{ $json.issue_number }},\n  \"title\": {{ JSON.stringify($json.title) }},\n  \"agent\": \"{{ $json.agent }}\",\n  \"task_type\": \"{{ $json.task_type }}\",\n  \"repo\": \"{{ $json.repo }}\"\n}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Run Core Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Core Logic": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "ai-pipeline"
    }
  ]
}
